<style>
hr {
    display: block;
    height: 1px;
    border: 100px;
    border-top: 3px solid #C02F1D;
    margin: 2em auto;
    padding: 0px;
}
</style>


<div class="container">
  <div class="user-details">
  <span style="display:block; height: 50px;"></span>
    <h3> About Me </h3>
    <hr/>
  </div><p><img class="img-circle pull-left" style="margin: 20px; max-height: 250px;" src="/assets/img/me2.jpg"  alt="That's me!"></p>  
  <p> I am a young scientist, currently working as a PhD student at the <a href="http://www.mpe.mpg.de">Max Planck Institute for Extraterrestrial Physics</a> (MPE) in Garching, Germany. I am part of the Infrared and Submillimeter Group and focus on the observation of the central region of our home galaxy. 
  </p>
  <p>
  I do direct data analysis as well as work on the instrumental site. For the technical work I am part of the GRAVITY team at MPE. GRAVITY is an interfeometric instrument working in the near-infrared. It is situated at the Very Large Telescope Interferomer (VLTI) in Chile.
  </p>
  <p>
  Before coming to the MPE I did my undergrad studies in Physics at Heidelberg University in Germany. I finished my studies with the masters project about a new experiment for reconstruction the piston evolution and improving large optical interferometers (such as the VLTI or the LBT).  This project was carried out at the Max Planck Insitute for Astronomy in Heidelberg.
  </p>
  </div>
</div>
