<style>
hr {
    display: block;
    height: 1px;
    width: 150px;
    border: 100px;
    border-top: 3px solid #C02F1D;
    margin: 2em auto;
    padding: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
    display: inline; 
}

</style>


<div class="container">
  <div class="user-details">
  <span style="display:block; height: 70px;"></span>
    <h3> About Me </h3>
    <hr/>
    <span style="display:block; height: 10px;"></span>
  </div><p><img class="img-circle pull-left" style="margin: 20px; max-height: 250px;" src="/assets/img/me2.jpg"  alt="That's me!"></p>  
  <p align="justify"> I am a young scientist, currently working as a PhD student at the Max Planck Institute for Extraterrestrial Physics (<a class="normal" target="_blank" href="http://www.mpe.mpg.de">MPE</a>)  in Garching (Germany), where I am part of the Infrared and Submillimeter Group. I focus on the developement of astronomical instruments and on the observation of the central region of our home galaxy.  I do direct data analysis as well as work on the instrumental site. For the technical part of my work I work on GRAVITY, an interfeometric instrument working in the near-infrared. It is situated at the Very Large Telescope Interferomer (VLTI) in Chile.
  </p>
  <p align="justify">
  Before coming to the MPE I did my undergrad studies in Physics at Heidelberg University in Germany. I finished my studies with the masters project about a new experiment for reconstruction the piston evolution and improving large optical interferometers (such as the VLTI or the LBT).  This project was carried out at the Max Planck Insitute for Astronomy in Heidelberg. You can find my full CV <a class="normal" target="_blank" href="assets/docs/cv.pdf">here</a>.
  </p>
  </div>
</div>
