<div id="particles-js" style="background: url({{site.url}}{{site.baseurl}}/assets/img/bg.jpeg) no-repeat scroll;background-size: cover;background-position: bottom;">
  

  <div class="content">
      <div style="position: absolute; top: 0; right: 0; width: 300px; text-align:right;">
    <span class="text"></span>
  </div>
  <span style="display:block; height: 100px;"></span>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <span style="display:inline-block; width: 15px;"></span>
        <a aria-label="My Github" target="_blank" href="https://github.com/widmannf"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <span style="display:inline-block; width: 15px;"></span>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/felix-widmann-ab045b141/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <span style="display:block; height: 60px;"></span>
     <h1>
        <span class="site-title">{{site.username}}</span>
      </h1>
      <h2>
        <span style="display:block; height: 30px;"></span>
        <span class="site-description">PhD Student in Astrophysics</span>
        <span class="site-description"></span>
        <!--
        <span class="site-description">at the Max Planck Institute for Extraterrestrial Physics</span>
        <span class="site-description"></span>
        <span style="display:block; height: 20px;"></span>
        -->
        <span class="site-description">working on Black Holes, Stellar Orbits & Instrumentation</span>
      </h2>
      <span style="display:block; height: 50px;"></span>
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#research" data-scroll>Research</a>
      <a class="link" target="_blank" href="assets/docs/cv.pdf">CV</a>
      <span class="site-description"></span>
      <a class="link" href="#contact" data-scroll>Contact Me</a>
      <a class="link" target="_blank" href="https://ui.adsabs.harvard.edu/search/p_=0&q=%20author%3A%22widmann%2C%20Felix%22%20%20year%3A2016-2020&sort=date%20desc%2C%20bibcode%20desc">ADS</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

